* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  border: 1px solid black;
  height: 300px;
  width: 450px;
  padding: 40px;
  border-radius: 15px;
}

form input {
  border: 1px solid black;
  width: 78%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 400;
}

#submit {
  border: 1px solid black;
  background-color: white;
  color: black;
  display: block;
  margin: 0 auto;
  width: 120px;
  font-size: 18px;
  text-align: center;
}

form input::placeholder {
  font-weight: 400;
  font-size: 14px;
}

form select {
  text-align: center;
  color: black;
  border: 1px solid black;
  color: black;
  margin: 0 0 30px;
  margin-left: 20px;
  margin-right: 35px;
}

form select option {
  color: black;
  background-color: white;
  border: none;
}

.main1 {
  width: 40px;
  margin: 0 0 40px;
}

.main2 {
  width: 40px;
  margin: 0 0 40px;
}